.section-part {
    background-color: rgb(247, 210, 162);
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.section-part img {
    border-radius: 5px;
    height: 400px;
}

.image1 img {
    margin-bottom: 30px;

}